.navigation{
    position: absolute;
    height: 100px;
    z-index: 0;
    margin-left: 7%;
    width: 86%;
    top: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  button{
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.20);
  }
  
  i{
    color: #180132;
  }